@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding : 0 ;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 800px)
 { 
.upper
{
    margin: 57px 52px 60px 135px;
}
.mypro
{
    font-size: 63px;
    font-weight: bold;
}
.quote
{
    font-size: 19px;
    font-weight: lighter;
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 47px 8px 36px -9px;
}
.part1
{

    margin: 7px 134px 72px 51px;
    border-style: solid;
    border-width: 2px;
    border-color: #80808078;
    border-radius: 10px;
    padding: 8px 0px 44px 0px;
    height: 240px;
    width: 613px;
}
.com1
{
    display: flex;
}
.logo
{
    margin: 25px;
}
.com2
{
    margin: 17px;
}
.name
{
    font-size: 33px;
    font-weight: bold;
}
.discrip
{
    font-size: 19px;
    font-weight: 500;
    margin: 23px;
    padding: 0px 0px 21px 0px;
}
.tag{
    margin: 0 17px;
}
.image
{
    padding: 5px 6px;
}
.main
{
    display: flex;
}
.tag1
{
    background: #8080807a;
    display: inline-block;
    padding: 7px;
    border-radius: 24px;
    margin: 8px;
    font-weight: bold;
    font-size: 20px;
   

}
.tag2
{
    background: #8080807a;
    display: inline-block;
    padding: 7px;
    border-radius: 24px;
    margin: 8px;
    font-weight: bold;
    font-size: 20px;

}
.tag3
{
    background: #8080807a;
    display: inline-block;
    padding: 7px;
    border-radius: 24px;
    margin: 8px;
    font-weight: bold;
    font-size: 20px;

}
}
@media only screen and (max-width: 800px)
{
    .upper{
        margin: 25px;
    }
    .mypro
    {
        display: flex;
        justify-content: center;
        font-size: 35px;
        font-weight: bold;
    }
    .quote{
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .cards
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
.part1   
{

    margin: 7px 133px 72px 80px;
    border-style: solid;
    border-width: 2px;
    border-color: #80808078;
    border-radius: 10px;
    padding: 8px 0px 44px 0px;
    height: 240px;
    width: 660px;
}
.com1
{
    display: flex;
}
.logo
{
    margin: 25px;
}
.com2
{
    margin: 17px;
}
.name
{
    font-size: 33px;
    font-weight: bold;
}
.discrip
{
    font-size: 19px;
    font-weight: 500;
    margin: 23px;
    padding: 0px 0px 21px 0px;
}
.tag{
    margin: 0 17px;
}
.image
{
    display: flex;
    justify-content: center;
    padding: 5px 6px;
}
.main
{
    display: flex;
}
.tag1
{
    background: #8080807a;
    display: inline-block;
    padding: 7px;
    border-radius: 24px;
    margin: 8px;
    font-weight: bold;
    font-size: 20px;
   

}
.tag2
{
    background: #8080807a;
    display: inline-block;
    padding: 7px;
    border-radius: 24px;
    margin: 8px;
    font-weight: bold;
    font-size: 20px;

}
.tag3
{
    background: #8080807a;
    display: inline-block;
    padding: 7px;
    border-radius: 24px;
    margin: 8px;
    font-weight: bold;
    font-size: 20px;

}
}
